* {
  margin: 0px;
  padding: 0px;
}

.list {
  list-style: decimal;
  background-color: aqua;
  color: aliceblue;
  width: 300px;
  padding: 10px;
  margin: auto;
  text-align: center;
}

.list:hover {
  background-color: black;
  border-radius: 10px;
}

h1 {
  background-color: black;
  color: aliceblue;
  text-align: center;
  font-family: arial;
  margin-bottom: 10px;
}